<% include ./partials/header %>

  <div class="container mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center">RDF and SHACL</h1>
            <h3>RDF and SHACL test</h3>
            <hr>
            <p>
              <strong class="text-danger">RDF and SHACL</strong> testing...
              <a href="/register">sign up</a>.
            </p>
            <h3>Features</h3>
            <hr>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <% include ./partials/footer %>